@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Croc";
    src: url("/fonts/Davigo.ttf") format("truetype");
}

html, body {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.350px;
}

.logo {
    font-family: 'Croc', 'Poppins', sans-serif;
}

@keyframes bounce-horizontal {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(3px); }
}
.animate-bounce-horizontal {
  animation: bounce-horizontal 1.5s infinite;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scale-in {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out forwards;
}

.animate-scale-in {
  animation: scale-in 0.2s ease-out forwards;
}


/* Landing page card - Open source */
.openSource::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  z-index: 1;
  background: var(--white);
  clip-path: ellipse(130vw 100vw at 50vw 100vw);
}

.custom-date-icon::-webkit-calendar-picker-indicator {
  filter: invert(35%) sepia(85%) saturate(500%) hue-rotate(250deg);
  cursor: pointer;
}

