@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Croc";
    src: url("/fonts/Davigo.ttf") format("truetype");
}

html, body {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.350px;
}

.logo {
    font-family: 'Croc', 'Poppins', sans-serif;
}
